.rocket{
    color: red;
}
.wta{
    color: orange;
}
.want{
    color: gray;
}
.day{
    color:green;
    text-align: right;
}
.russia{
    color: red;
}
.true{
    color:orange;
}
.sud{
    color:blue;
}
.gug{
    color:gray;
}
.polit{
    color: blue;
}